body {
    font-family: Arial, sans-serif;
    background-color: #FFF;
}

form:not(.formRecherche) {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Ajustez selon vos besoins */
}

.card {
    width: 40vw;
    margin-bottom: 16px;
    border-radius: 8px;
}

.card-img {
    max-height: 40vh;
    /* Ajustez selon vos besoins */
    overflow: hidden;
    /* Assure que l'image ne dépasse pas la hauteur spécifiée */
}

@media screen and (max-width: 768px) {
    .card {
        width: 90vw;
    }
    
}
.card-img img {
    width: 100%;
    height: auto;
}

.card-footer {
    background-color: #6b747c;
    border-top: 1px solid #000000;
}
a:link {
    color: #000;
    /* Couleur du texte pour les liens non visités (changez la couleur selon vos préférences) */
    text-decoration: none;
    /* Supprime la décoration par défaut du lien (soulignement) */
}

/* Style du lien visité */
a:visited {
    color: #000;
    /* Couleur du texte pour les liens visités (changez la couleur selon vos préférences) */
}

/* Style du lien au survol */
a:hover {
    color: #000;
    /* Couleur du texte au survol du lien (changez la couleur selon vos préférences) */
}



/*mettre une bordure au tableau et au cellule*/

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    /* mettre de l'espace entre les cellules */
    padding: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.rechercheHome {
    margin-right: 20px
}

.redirect {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}




