body {
    font-family: Arial, sans-serif;
    background-color: #FFF;
}

form:not(.formRecherche) {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}


/*mettre une bordure au tableau et au cellule*/

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    /* mettre de l'espace entre les cellules */
    padding: 15px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.rechercheHome {
    margin-right: 20px;
}