<!-- FILEPATH: /c:/Users/coco7/Desktop/etude/3eme_Annee/ParagBD/GatchaWorkshop/src/main/java/FrontEnd/searchArticle.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Résultats de la recherche d'articles</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>

  <body>
    <h1>Home Page</h1>

    <!-- Court texte d'intro du projet puis deux bouton pour recherche / newArticle -->
    <p>
      Bienvenue sur le site de gestion de stock d'articles de la boutique Gatcha
      !
    </p>
    <p>Vous pouvez rechercher un article ou en ajouter un nouveau.</p>

    <div class="boutons">
      <a class="rechercheHome" href="/rechercheArticle">Recherche d'article</a>
      <a href="/newArticle">Nouvel article</a>
    </div>
  </body>
</html>
