<!-- FILEPATH: /c:/Users/coco7/Desktop/etude/3eme_Annee/ParagBD/GatchaWorkshop/src/main/java/FrontEnd/NewArticle.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>Ajout d'un article</h1>

    <!-- redirection vers newArticle -->
    <div class="redirect">
      <a href="/recherche">Rechercher un article</a>
    </div>

    <!-- Formulaire d'un nouvel article -->
    <form action="/newArticle" method="post" enctype="multipart/form-data">
      <label for="nom">Nom de l'article:</label>
      <input type="text" id="nom" name="nom" required />

      <label for="description">Description de l'article:</label>
      <textarea id="description" name="description" required></textarea>

      <label for="prix">Prix de l'article:</label>
      <input type="number" id="prix" name="prix" required />

      <label for="image">Image de l'article:</label>
      <input type="file" id="image" name="image" accept="image/*" />

      <button type="submit">Enregistrer</button>
    </form>

    <!-- Ajouter fichier csv pour ajout de plusieurs article -->
    <form action="/newArticleCSV" method="post" enctype="multipart/form-data">
      <label for="file">Ajouter un fichier CSV :</label>
      <input type="file" id="file" name="file" accept=".csv" />
      <button type="submit">Enregistrer</button>
    </form>
  </body>
</html>
