<!-- FILEPATH: /c:/Users/coco7/Desktop/etude/3eme_Annee/ParagBD/GatchaWorkshop/src/main/java/FrontEnd/searchArticle.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Résultats de la recherche d'articles</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <h1>Résultats de la recherche d'articles</h1>

    <!-- redirection vers newArticle -->
    <div class="redirect">
        <a href="/newArticle">Ajouter un article</a>
    </div>

    <!-- Formulaire de recherche -->
    <form action="/rechercheArticle" method="get">
        <label for="rechercheTerm">Terme de recherche:</label>
        <input type="text" id="rechercheTerm" name="rechercheTerm">
        <button type="submit">Rechercher</button>
    </form>

    <br>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <!-- Utilisez Thymeleaf pour parcourir la liste d'articles et les afficher -->
            <tr th:each="article : ${articles}">
                <td th:text="${article.nom}"></td>
                <td th:text="${article.description}"></td>
                <td th:text="${article.prix}"></td>
                <td>
                    <!-- Formulaire pour soumettre la demande de suppression -->
                    <form action="/recherche" method="post" class="formRecherche">
                        <input type="hidden" id="articleId" name="articleId" th:value="${article._id}">
                        <button type="submit">
                                <span class="material-symbols-outlined">delete_forever</span>
                            </button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>