<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Détails de l'article</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>

  <body>
    <header>
      <h1>Détails de l'article</h1>
    </header>

    <div class="article-details">
      <!-- Affichez les détails de l'article ici -->
      <div class="article-image">
        <img
          th:src="'data:image/png;base64,' + ${article.image}"
          alt="Image de l'article"
        />
      </div>
      <div class="article-info">
        <h2 th:text="${article.nom}"></h2>
        <p class="description" th:text="${article.description}"></p>
        <p class="price" th:text="'Prix: ' + ${article.prix}"></p>
      </div>
    </div>
  </body>
</html>
